In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
l1 = [1,2,3,4]
print(l1)
print(l1[3])
print(l1[1:])
print(l1[::-1])

[1, 2, 3, 4]
4
[2, 3, 4]
[4, 3, 2, 1]

In [7]:
print(l1)

[1, 2, 3, 4]

In [6]:
l1

[1, 2, 3, 4]

In [7]:
l1.append(234)

In [8]:
l1

[1, 2, 3, 4, 234]

In [10]:
l1.append('abc')

#

In [11]:
l1

[1, 2, 3, 4, 234, 'abc']

In [12]:
l2 = l1.copy()

In [13]:
l2

[1, 2, 3, 4, 234, 'abc']

In [14]:
l1.count(4)

1

In [15]:
l1.append(4)
l1.append(4)

In [16]:
l1

[1, 2, 3, 4, 234, 'abc', 4, 4]

In [17]:
l1.count(4)

3

In [21]:
 h2 = ['1',2,3,4,5,'a','c']

In [22]:
h2

['1', 2, 3, 4, 5, 'a', 'c']

In [23]:
h2.insert(6,'6')

In [24]:
h2

['1', 2, 3, 4, 5, 'a', '6', 'c']

In [29]:
h2.pop(5)

'a'

In [27]:
h2.remove('6')

In [28]:
h2

['1', 2, 3, 4, 5, 'a']

In [30]:
h2.reverse()

In [31]:
h2

[5, 4, 3, 2, '1']

In [32]:
print(h2)

[5, 4, 3, 2, '1']

In [33]:
print(h2[::-1])

['1', 2, 3, 4, 5]

In [34]:
h2

[5, 4, 3, 2, '1']

In [5]:
h3 = [1,2,0,66,3,4,5,789,6,7,8]
h3

[1, 2, 0, 66, 3, 4, 5, 789, 6, 7, 8]

In [6]:
h3.sort()
h3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 66, 789]

In [7]:
h3.reverse()
h3

[789, 66, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### list

In [11]:
elect1 = ['cell','laptop','speakers','vegetables']
elect2 = ['cell','laptop','speakers','cars']
elect1.remove('vegetables')
elect1

['cell', 'laptop', 'speakers']

In [12]:
elect2.pop()
elect2

['cell', 'laptop', 'speakers']

In [17]:
def divisibleby6not100(lb,ub):
    for i = int

SyntaxError: invalid syntax (<ipython-input-17-b5cae97f5cc2>, line 1)

#### function to find the average of cubes of all the even numbers in given range(lb,ub)inclusive

In [23]:
def even_cube(lb,ub):
    s = 0
    c = 0
    for i in range(lb,ub+1):
        if i%2==0:
            print(i**3,end =' ')
            s = s+(i**3)
            c = c+1
    print("\n","average:",s/c)
lb = int(input()) 
ub = int(input())
even_cube(lb,ub)

10
100
1000 1728 2744 4096 5832 8000 10648 13824 17576 21952 27000 32768 39304 46656 54872 64000 74088 85184 97336 110592 125000 140608 157464 175616 195112 216000 238328 262144 287496 314432 343000 373248 405224 438976 474552 512000 551368 592704 636056 681472 729000 778688 830584 884736 941192 1000000
 average: 282700.0

# 3.function to generate the list of factors for a given number

In [25]:
def list_of_factor
  s = 0
  c = 0
for i%2==0:
    print(i,end=' ')
lb = int(input())
ub = int(input())
gen_list_factors(lb,ub)

SyntaxError: invalid syntax (<ipython-input-25-92d28fd184ad>, line 1)

In [26]:
def factorial(f):
    j = 1
    for i in range(1,f+1):
        j = j*i
        print(j)
        factorial(6)

In [27]:
720

720

  # function to check the given is prime number or not using function

In [ ]:
tuples

# dictionaries

In [29]:
key1  value1
key2  value2
key3  value3

SyntaxError: invalid syntax (<ipython-input-29-715848d6e465>, line 1)

In [30]:
d =[]
type(d)

list

In [31]:
d3.pop('x')

NameError: name 'd3' is not defined

d3.update({'x':67}) 
d3

In [32]:
d3.clear()

NameError: name 'd3' is not defined

In [33]:
d

[]

In [34]:
{'k1': 1}

{'k1': 1}

In [35]:
d.update({'d':678})
d

AttributeError: 'list' object has no attribute 'update'

In [36]:
s = {'a':45,'b':35'c':78,'d':99}
s

SyntaxError: invalid syntax (<ipython-input-36-8d6e7f968b42>, line 1)

# packages and modules

In [38]:
 import math
print(math.sqrt(49))

7.0

In [40]:
from math import sqrt
print(sqrt(36))

6.0

In [41]:
from math import sqrt as raja
print(raja(81))

9.0

In [42]:
print(math.pi)

3.141592653589793

In [44]:
import random
for i in range(1,11):
print(random.randint(1,100))

IndentationError: expected an indented block (<ipython-input-44-407c2bbbc518>, line 3)